.text{
	width: 70%;
	height: 100%;
	border-right: 2px solid gray;
	font: 20px/28px OpenSans;
	text-indent: 1em;
	padding: 15px;
	overflow: auto;
	white-space: pre-wrap;
	background-color: #252525;
}

.text__letter__green{
	color: #A8E4A0;
}

.text__letter__gray{
	background-color: gray;
	color: white;
	border-radius: 2px;
}

.text__letter__red{
	background-color: #A5260A;
	color: white;
	border-radius: 2px;
}

@media (min-width: 769px) and (max-width: 4096px) {
  .text {
    font-size: calc(20px + 40 * ((100vw - 769px) / 4096));
    line-height: calc(28px + 40 * ((100vw - 769px) / 4096));
  }
}