.modal{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,.5);
}

.modal__window{
	width: 50vw;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background-color: #252525;
	border-radius: 20px;
	border: 2px blue solid;
}

.window{
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow: auto;
}

.window__text{
	text-align: center;
	margin: 20px;
	font: 20px/28px OpenSans;
}

.window__input{
	margin: 15px;
	width: 30%;
	font: 20px/28px OpenSans;
	outline: none;
}

@media (min-width: 769px) and (max-width: 4096px) {
	.window__text, .window__input {
		font-size: calc(20px + 30 * ((100vw - 769px) / 4096));
		line-height: calc(28px + 30 * ((100vw - 769px) / 4096));
	}
}

.window__input__error{
	border: 2px red solid;
}

.window__button{
	margin: 10px;
	padding: 10px 30px;
	font: 30px OpenSans;
	color: #eee;
	background-image: linear-gradient(45deg, magenta, blue);
	outline: none;
	border: none;
	cursor: pointer;
}

.window__button:active{
	box-shadow: none;
	box-shadow: inset 2px 1px 8px rgba(0,0,0,.4);
}

.window__button:hover{
	background-image: linear-gradient(45deg, #FF00FF, #42AAFF);
}