* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
	background-color: #1a1a1a;
	color: #B5B8B1;
}

.wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title{
	font: 42px/47px OpenSans;
	margin: 6vh 0;
}

.main-area{
	width: 65vw;
	height: 50vh;
	min-width: 550px;
	min-height: 400px;
	display: flex;

	border: 2px solid gray;
}

.restart-button{
	background-image: linear-gradient(180deg, magenta, blue);
	outline: none;
	border: none;
	cursor: pointer;
	color: black;
}

.restart-button:active{
	box-shadow: none;
	box-shadow: inset 2px 1px 8px rgba(0,0,0,.4);
}

.restart-button:hover{
	background-image: linear-gradient(180deg, #FF00FF, #42AAFF);
}